.profile{
  margin-top: 100px; 
}

.profile-row {
  padding: 10px;
}
.back {
  display: flex;
}

.back-button {
 align-self: center;
}


.user-info {
  height: 120px;
}
.user-name {
  float: right;
  font-size: 18px;
  font-weight: 600;
}
.user-email {
  float: right;
}
.user-button {
  float: right;
  justify-content: baseline;
}

.headline {
  width: 100%;
  color: grey;
  align-self: flex-end;
}

#logout-btn{
  width: 125px;
  float: right;
  border-radius: 3px;
  letter-spacing: 1.5px;
  margin-top: 3px;
}